certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
dj-database-url==0.4.2
Django==1.11.8
gitdb2==2.0.0
GitPython==2.1.7
gunicorn==19.7.1
idna==2.6
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.7
pip==9.0.1
pytz==2017.3
requests==2.18.4
setuptools==36.3.0
smmap2==2.0.1
stripe==1.75.0
urllib3==1.22
wheel==0.30.0
