{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- FontAwesome CSS -->
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<!-- jQuery-confirm CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<!-- Stripe custom CSS -->
<link rel="stylesheet" href="{% static 'css/stripe_style.css' %}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
