<footer class="footer-custom">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-copyright">
				<p class="text-center"><a class="anchor-black" href="{% url 'about' %}">A B O U T</a></p>
			</div>
			<div class="col-md-4 mx-auto">
				<h3 class="text-center">Kart <i class="fas fa-shopping-cart" aria-hidden="true"></i></h3>
				<p class="text-center">© 2018, Kart</p>
			</div>
			<div class="col-md-4 social-networks">
				<ul class="list-inline text-center">
				   <li class="list-inline-item">
				   	<a class="anchor-black" target="_blank" href="https://github.com/shan18">
				   		<i class="fab fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   </li>
				   <li class="list-inline-item">
				   	<a class="anchor-black" target="_blank" href="https://www.linkedin.com/in/shanacharya">
				   		<i class="fab fa-linkedin-in" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   </li>
				   <li class="list-inline-item">
				   	<a class="anchor-black" target="_blank" href="https://www.instagram.com/shan_1.0">
				   		<i class="fab fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   </li>
				   <li class="list-inline-item">
				   	<a class="anchor-black" target="_blank" href="https://www.quora.com/profile/Shantanu-Acharya-3">
				   		<i class="fab fa-quora" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   </li>
				   <li class="list-inline-item">
				   	<a class="anchor-black" target="_blank" href="https://www.facebook.com/greatsaiyen007">
				   		<i class="fab fa-facebook-f" aria-hidden="true"></i>
				   	</a>
				   </li>
				</ul>
			</div>
		</div>
	</div>
</footer>