{% load static %} <!-- This is required when we use our custom jvascript -->

<!-- jQuery JS -->
<!-- Removed slim from jQuery because slim version does not contain ajax -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Tether JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- jQuery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- jsrender JS -->
<!-- used to make form modules reusable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
{% include 'base/stripe_js_templates.html' %}

<!-- Chart.js CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<!-- Stripe CDN JS -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Django Secure AJAX JS -->
<script src="{% static 'js/csrf_ajax.js' %}"></script>

<!-- Custom stripe JS -->
<script src="{% static 'js/stripe_js.js' %}"></script>

<!-- Sales Graphs JS -->
<script src="{% static 'js/sales_graphs_js.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/cart_and_products_js.js' %}"></script>
<script src="{% static 'js/accounts_custom_js.js' %}"></script>
<script src="{% static 'js/checkout_js.js' %}"></script>
<script src="{% static 'js/contact_form_js.js' %}"></script>
<script src="{% static 'js/search_bar_js.js' %}"></script>
<script src="{% static 'js/addresses_js.js' %}"></script>
