{% url 'home' as home_url %}
<!-- {% url 'contact' as contact_url %} -->
{% url 'products:list' as products_list_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% url 'account:home' as account_url %}
{% url 'cart:home' as cart_url %}
{% url 'orders:list' as orders_url %}
{% url 'library' as library_url %}
{% url 'account:user-product-history' as user_product_history_url %}
{% url 'analytics:sales' as analytics_sales_url %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #000000;">
	<div class="container">
		<a class="navbar-brand" href="{{ home_url }}">
			{% if brand_name %} {{ brand_name}} {% else %} Kart {% endif %}
			<i class="fas fa-shopping-cart" aria-hidden="true"></i>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {% if request.path == home_url %}active{% endif %}">
					<a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
				</li>
				<!-- <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
					<a class="nav-link" href="{{ contact_url }}">Contact</a>
				</li> -->
				<li class="nav-item {% if request.path == products_list_url %}active{% endif %}">
					<a class="nav-link" href="{{ products_list_url }}">Products</a>
				</li>
				{% if request.user.is_authenticated %}
					{% if request.user.is_staff %}
						<li class="nav-item {% if request.path == analytics_sales_url %}active{% endif %}">
							<a class="nav-link" href="{{ analytics_sales_url }}">Sales</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {% if request.path == cart_url %}active{% endif %}">
					<a class="nav-link" href="{{ cart_url }}"><span class="cart-item-count">{{request.session.cart_items_number}}</span> <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">Home</a>
							<a class="dropdown-item {% if request.path == orders_url %}active{% endif %}" href="{{ orders_url }}">Your Orders</a>
							<a class="dropdown-item {% if request.path == library_url %}active{% endif %}" href="{{ library_url }}">Library</a>
							<a class="dropdown-item {% if request.path == user_product_history_url %}active{% endif %}" href="{{ user_product_history_url }}">History</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">Logout</a>
						</div>
					</li>
					{% if request.user.is_admin %}
						<li class="nav-item">
							<a class="nav-link" href="/admin/" target="blank">Admin</a>
						</li>
					{% endif %}
				{% else %}
					<li class="nav-item {% if request.path == login_url %}active{% endif %}">
						<a class="nav-link" href="{{ login_url }}">Login</a>
					</li>
					<li class="nav-item {% if request.path == register_url %}active{% endif %}">
						<a class="nav-link" href="{{ register_url }}">Register</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-4">
				<li>{% include 'search/snippets/search-form.html' %}</li>
			</ul>
		</div>
	</div>
</nav>