{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock %}
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='eCommerce' %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% include 'base/js.html' %}

    <script type="text/javascript">
      $(document).ready(function(){
        // Auto Search
        var searchForm = $(".search-form")
        var searchInput = searchForm.find("[name='q']")   // input name = 'q'
        var typingInterval = 500  // in ms
        var typingTimer;
        var searchButton = searchForm.find("[type='submit']")

        // key released
        searchInput.keyup(function(event){
          // If the clearTimeout function is not used, then search begins after the specified time
          // starting from the time first keystroke was entered.
          clearTimeout(typingTimer)   // The timer is reset everytime something is entered in search bar
          typingTimer = setTimeout(performSearch, typingInterval)
        })

        // key pressed
        searchInput.keydown(function(event){
          clearTimeout(typingTimer)
        })

        function searchIndicator(){
          searchButton.addClass("disabled")
          searchButton.html("<i class='fa fa-spin fa-spinner'></i> Searching...")
        }

        function performSearch(){
          searchIndicator()
          var query = searchInput.val()
          setTimeout(function(){
            window.location.href = '/search/?q=' + query
          }, 1000)
        }


        // Cart + Add Products
        var productForm = $(".form-product-ajax")

        productForm.submit(function(event){
          event.preventDefault();
          var thisForm = $(this);
          // var actionEndpoint = thisForm.attr("action");
          var actionEndpoint = thisForm.attr("data-endpoint");  // See javascript_notes.txt
          var httpMethod = thisForm.attr("method");
          var formData = thisForm.serialize();

          $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
              var submitSpan = thisForm.find(".submit-span")
              if (data.added) {
                submitSpan.html("In cart <button type='submit' class='btn btn-link'>Remove?</button>")
              } else {
                submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
              }

              var cartItemCount = $(".cart-item-count")  // Refresh count in Navbar
              cartItemCount.text(data.cartItemCount)

              var currentPath = window.location.href      // Get current url
              if (currentPath.indexOf("cart") != -1) {    // If url contains 'cart'
                refreshCart()
              }
            },
            error: function(errorData){
              // Using '$.' uses jQuery-confirm instead of default
              $.alert({
                title: "Oops!",
                content: "An error may have occured!",
                theme: "modern"
              })
            }
          })
        })

        function refreshCart() {    // Refrest cart homepage if cart contents change
          console.log("In refresh method")
          var cartTable = $(".cart-table")
          var cartBody = cartTable.find(".cart-body")
          var productRow = cartBody.find(".cart-product")
          var currentUrl = window.location.href

          var refreshCartUrl = '/api/cart/'
          var refreshCartMethod = "GET"
          var data = {};
          $.ajax({
            url: refreshCartUrl,
            method: refreshCartMethod,
            data: data,
            success: function(data){
              var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
              if(data.products.length > 0) {
                productRow.html("")
                i = data.products.length
                $.each(data.products, function(index, value) {
                  var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                  newCartItemRemove.css("display", "block")
                  // newCartItemRemove.removeClass("hidden-class") // If class was used instead of style
                  newCartItemRemove.find(".cart-item-product-id").val(value.id)
                  cartBody.prepend("<tr><th scope=\"row\">" + i + "</th><td><a href='" + value.url + "'>" + value.name + "</a>" + newCartItemRemove.html() + "</td><td>" + value.price + "</td></tr>")
                  i --
                })
                cartBody.find('.cart-subtotal').text(data.subtotal)
                cartBody.find('.cart-total').text(data.total)
              } else {
                window.location.href = currentUrl
              }
            },
            error: function(errorData){
              $.alert({
                title: "Oops!",
                content: "An error may have occured!",
                theme: "modern"
              })
            }
          })
        }
      })
    </script>
  </body>
</html>