{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
  <h1>{{ title }}</h1>
  <h1>Hello, world!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'img/one_piece.jpg' %}" class="img-fluid">
      <p>{{ content }}</p>
    </div>
  </div>

  {% if request.user.is_authenticated %}
    <div class="row">
      <div class="col">
        <h1>Premium</h1>
        {{ premium_content }}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}