.dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #000000;
  border-color: #fff;
}

a.dropdown-item.active {
  background-color: #000000 !important;
}

.anchor-black {
		text-decoration: none;
		color: black;
}

.about-img-circular{
	width: 400px;
	height: 400px;
	background-image: url('/static/img/shan_img.jpg');
	background-size: cover;
	display: block;
	border-radius: 400px;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
}

.new-address-card {
    cursor: pointer;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.address-card {
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.payment-card {
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
