{% extends 'base.html' %}

{% block base_head %}
<title>Checkout</title>
{% endblock %}

{% block content %}

	{{ object.order_id }} --> {{ object.cart }}

	{% if not billing_profile %}
		<div class="row text-center">
			<div class="col-12 col-md-6">
				<p class="lead">Login</p>
				{% include 'accounts/snippets/forms.html' with form=login_form next_url=request.build_absolute_uri %}
			</div>
			<div class="col-12 col-md-6">
				<p class="lead">Continue as Guest</p>
				<!-- To pass the URL into action_url we have to store it in a variable -->
				{% url 'guest_register' as guest_register_url %}
				<!-- Instead of this, we can also pass the url in context -->
				{% include 'accounts/snippets/forms.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
			</div>
		</div>
	{% else %}
		<h1>Checkout</h1>
		<p>Cart Total: {{ object.cart.total }}</p>
		<p>Shipping Total: {{ object.shipping_total }}</p>
		<p>Order Total: {{ object.total }}</p>
	{% endif %}

{% endblock %}