{% extends 'base.html' %}

{% block base_head %}
	<title>Cart</title>
{% endblock %}

{% block content %}
	<h1 class="mt-3">Cart</h1>

	{% if cart.products.exists %}
		<table class="table cart-table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Product Name</th>
					<th scope="col">Product Price</th>
				</tr>
			</thead>
			<tbody class="cart-body">
				{% for product in cart.products.all %}
					<tr class="cart-product">
						<th scope="row">{{ forloop.counter }}</th>
						<td>
							<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
							<!-- OR
							<a href="{% url 'products:detail' slug=product.slug %}">{{ product.title }}</a> -->
							{% include 'carts/snippets/remove-product.html' with product_id=product.id %}
						</td>
						<td>$ {{ product.price }}</td>
					</tr>
				{% endfor %}
				{% if cart.has_tax %}
					<tr>
						<td colspan="2"></td>
						<td><b>Subtotal</b>: <span class="cart-subtotal">$ {{ cart.subtotal }}</span></td>
					</tr>
					<tr>
						<td colspan="2"></td>
						<td><b>Tax</b>: <span class="cart-subtotal">$ {{ cart.get_tax }}</span></td>
					</tr>
				{% endif %}
				<tr>
					<td colspan=2></td>
					<td><b>Total</b>: <span class="cart-total">$ {{ cart.total }}</span></td>
				</tr>
				<tr>
					<td colspan=2></td>
					<td><a href="{% url 'cart:checkout' %}" class="btn btn-lg btn-success">Checkout</a></td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<p class="lead">Cart is empty</p>
	{% endif %}

	<div class="cart-item-remove-form" style="display:none;">
		{% include 'carts/snippets/remove-product.html' %}
	</div>

{% endblock %}