{% extends 'base.html' %}

{% block base_head %}
<title>Payment</title>
{% endblock %}

{% block content %}

<!-- Stripe form -->

<div class="col-10 col-md-6 mx-auto">
	<h1>Add Payment Method</h1>
	<!-- This container represents a module for the stripe form -->
	<div class="stripe-payment-form" data-token="{{ publish_key }}" data-next-url="{% if next_url %}{{ next_url }}{% endif %}" data-btn-title="Add New Method"></div>
	<!-- Any form module can be made reusable with the help of jsrender so that the form could be used anywhere in the website -->
</div>

{% endblock %}