{% extends "base.html" %}

{% block base_head %}
  <title>{{ object.title }}</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 my-5">
      <h1>{{ object.title }}</h1>
      <hr/>
    </div>
    <div class="col-12 col-md-6">
      {% if object.image %}
        <img src="{{ object.image.url }}", class="img-fluid">
      {% endif %}
    </div>
    <div class="col-12 col-md-6">
      <!-- {{ object.timestamp|timesince }} ago -->
      {{ object.description|linebreaks }}<br/>
      <h4>Price: <strong>$ {{ object.price }}</strong></h4>
      {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
    </div>
  </div>
{% endblock %}