{% extends 'base.html' %}

{% block base_head %}
<title>Saved Addresses</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 my-2">
		<h1>Saved Addresses</h1>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col mt-2 mb-4">
		<div class="card new-address-card bg-light mb-3 pt-5" style="width: 12rem; height: 10rem;">
		  <p class="card-text text-center"><i class="fas fa-plus"></i><br>Add New Address</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="alert alert-dark" role="alert">
		  <b>Warning:</b> <b><i>Editing</i></b> or <b><i>deleting</i></b> any of the saved addresses will also result in changes to the details of the corresponding orders in the order history.
		</div>
	</div>
</div>
<div class="row">
	<div class="card-columns">
		{% for address in object_list %}
				{% include 'addresses/snippets/address_card.html' with object=address %}
		{% endfor %}
	</div>
</div>

{% endblock %}
