{% extends 'base.html' %}

{% block base_head %}
<title>Order</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 col-md-6 mx-auto">
		<h2>Order {{ object.order_id }}</h2>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-12 col-md-6 mx-auto">
		<p>Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		{% if object.shipping_address.get_address %}
			<p>Shipping Address: {{ object.shipping_address.get_address }}</p>
		{% endif %}
		<p>Billing Address: {{ object.billing_address.get_address }}</p>
		<p>Payment Method: {{ object.billing_profile.default_card }}</p>
		{% if object.shipping_total > 0 %}
			<p>Subtotal: {{ object.cart.total }}</p>
			<p>Shipping Charges: {{ object.shipping_total }}</p>
		{% endif %}
		<p>Order Total: {{ object.total }}</p>
		<p>Order Status: {{ object.get_status }}</p>
	</div>
</div>

{% endblock %}