{% extends 'base.html' %}

{% block base_head %}
<title>Order</title>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 col-md-6 mx-auto">
		<h2>Order {{ object.order_id }}</h2>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-12 col-md-6 mx-auto">
		<p><b>Cart Items:</b> {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		{% if object.shipping_address.get_address %}
			<p><b>Shipping Address:</b> {{ object.shipping_address.get_address }}</p>
		{% endif %}
		<p><b>Billing Address:</b> {% if object.billing_address %}{{ object.billing_address.get_address }}{% else %}N/A{% endif %}</p>
		<p><b>Payment Method:</b> {{ object.billing_profile.default_card }}</p>
		{% if object.cart.has_tax %}
			<p><b>Subtotal:</b> $ {{ object.cart.subtotal }}</p>
			<p><b>Tax:</b> $ {{ object.cart.get_tax }}</p>
		{% endif %}
		{% if object.shipping_total > 0 %}
			{% if not object.cart.has_tax %}
				<p><b>Subtotal:</b> $ {{ object.cart.total }}</p>
			{% endif %}
			<p><b>Shipping:</b> $ {{ object.shipping_total }}</p>
		{% endif %}
		<p><b>Total:</b> {{ object.total }}</p>
		<p><b>Status:</b> {{ object.get_status }}</p>
		<p><a href="{{ object.get_invoice_url }}" target="blank">{{ object.order_id }}.pdf</a></p>
	</div>
</div>

{% endblock %}