<!-- data-user attribute in form is user to check if the user is a guest or not. This is then used by javascript to display the library link -->
<form class="form-product-ajax" method="POST" action="{% url 'cart:update' %}" data-endpoint="{% url 'cart:update' %}" class="form" {% if request.user.is_authenticated %} data-user="true" {% endif %}> {% csrf_token %}
	<input type="hidden" name="product_id" value="{{ product.id }}" {% if product.is_digital %} data-is-digital="true" {% endif %}>
	<span class="submit-span">
		{% if product in cart.products.all %}
			<div class="btn-group">
				<!-- <a href="{% url 'cart:home' %}" class="btn btn-link">In cart</a>  --><button type="submit" class="btn btn-danger"><i class="fas fa-shopping-cart" aria-hidden="true"></i> <i class="fas fa-times" aria-hidden="true"></i></button>
			</div>
		{% else %}
			<button type="submit" class="btn btn-info"><i class="fas fa-cart-plus" aria-hidden="true"></i> <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></button>
		{% endif %}
	</span>
</form>