html, body {
	height: 100%;
}

#wrap {
	min-height: 75%;
}

#main {
	overflow:auto;
	padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
	position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
	padding-top:20px;
}

.dropdown .dropdown-menu a:hover {
	background-color: #dcdce1;
  	color: #000;
}

.footer-custom {
	background-color: #dcdce1;
	padding: 60px 40px;
	color: #000;
}

a.dropdown-item.active {
	background-color:#D9CDCA;
  	color: #000;
}

.anchor-black {
	text-decoration: none;
	color: black;
}

.sort-hover {
  background-color:#dcdce1;
  color: #000;
}

.sort-select {
  background-color:#D9CDCA;
  color: #000;
}

.about-img-circular{
	width: 400px;
	height: 400px;
	background-image: url('/static/img/shan_img.jpg');
	background-size: cover;
	display: block;
	border-radius: 400px;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
}

.new-address-card {
	cursor: pointer;
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.address-card {
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.payment-card {
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
